body{
    font-family: "playfair display", sans-serif;
    background-color: #021a25;
    color:aliceblue
    margin: 0px;
    margin-bottom: 100px;
}
.chamada{
    background-color: #035a83;
    display: flex;
    justify-content: center;
    padding-top: 80px;
}
header{
color: black;
font-size: 35px;
border-bottom: 3px solid black;
padding: 20px;
}
 .chamada-texto{
margin-right: 5%;

 }

 h1{
    font-size: 36px;
 }